<h2>Welcome to the Digital Diner: Craving Control & Snack Attacks</h2>
<br /><br />

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
  <p class="mb-3 text-gray-600 dark:text-gray-400 font-semibold">
    In our code kitchen, magic's on the menu,<br />
    "Bibbidi-Bobbidi-Boo" meets a coding venue.<br />
    Where loops stir soups and functions fry,<br />
    A tasty script that'll make you sigh.<br /><br />
  </p>
  <p class="mb-3 text-gray-600 dark:text-gray-400 font-semibold">
    So fork this dish, git it while hot,<br />
    A byte of fun in every pot.<br />
    In our blend of code and culinary art,<br />
    "Bibbidi-Bobbidi-Boo," a programmer's heart.<br /><br />
  </p>
</div>
<p class="text-center">
  Press
  <a
    routerLink="/search"
    routerLinkActive="active"
    aria-current="page"
    class="hover:bg-gray-200 font-semibold"
    >Recipe Search</a
  >
</p>
to get cookin!
<!-- <p>home works!</p> -->
