<h2>Welcome to the Digital Diner: Craving Control & Snack Attacks</h2>
<br /><br />

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
  <p class="mb-3 text-gray-600 dark:text-gray-400 font-semibold">
    In our code kitchen, magic's on the menu,<br />
    "Bibbidi-Bobbidi-Boo" meets a coding venue.<br />
    Where loops stir soups and functions fry,<br />
    A tasty script that'll make you sigh.<br /><br />
  </p>
  <p class="mb-3 text-gray-600 dark:text-gray-400 font-semibold">
    So fork this dish, git it while hot,<br />
    A byte of fun in every pot.<br />
    In our blend of code and culinary art,<br />
    "Bibbidi-Bobbidi-Boo," a programmer's heart.<br /><br />
  </p>
</div>
<p class="flex-wrap display-center text-center">
  Press
  <a
    routerLink="/search"
    routerLinkActive="active"
    aria-current="page"
    class="hover:bg-gray-200 font-semibold"
    >Recipe Search</a
  >
  to get cookin! Not sure what to cook? Take a look at our suggestions:
</p>
<!-- <p>home works!</p> -->

<div
  class="mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
>
  @for (recipe of recipes; track recipe ) {
  <article class="bg-blue-100 border-2 shadow-lg rounded-t-lg border-sky-600">
    <h3 class="font-sans text-lg font-semibold underline">
      {{ recipe.label }}
    </h3>
    <img src="{{ recipe.image }}" alt="Recipe image" />
    <p>Total time: {{ recipe.totalTime }}</p>

    <ul>
      <p>
        <a
          [routerLink]="['/recipe', recipe.selfref | recipeidformatter]"
          class="flex justify-center bg-cyan-700 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline mt-4 mb-0.5"
          >Go to this recipe!</a
        >
      </p>
    </ul>
  </article>
  } @empty {
  <p>There are no chosen recipes.</p>
  }
</div>
