<h1>My Angular project RecipeFE</h1>
<br /><br />
<p>{{ loggedIn$ | async }}</p>

<button (click)="login()">Login</button><br />

<button (click)="logout()">Logout</button>
<br /><br />

<nav>
  <ul>
    <li>
      <a
        routerLink="/search"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Search</a
      >
    </li>
    <br /><br />
    <li>
      <a
        routerLink="/recipe"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Recipe</a
      >
    </li>
    <br /><br />
    <li>
      <a
        routerLink="/profile"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Profile</a
      >
    </li>
    <br /><br />
  </ul>
</nav>

<router-outlet />
