<!-- Navbar -->
<nav class="bg-cyan-700 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a
      routerLink="/home"
      routerLinkActive="active"
      aria-current="page"
      class="px-3 py-2 rounded font-semibold"
      >Hangry Hackers' Haven: A Welcome Byte!</a
    >

    <div>
      <!-- Home Link -->
      <a
        routerLink="/home"
        routerLinkActive="active"
        aria-current="page"
        class="px-3 py-2 rounded hover:bg-cyan-400"
        >Home</a
      >
      <!-- Profile Link -->
      <a
        routerLink="/profile"
        routerLinkActive="active"
        aria-current="page"
        class="px-3 py-2 rounded hover:bg-cyan-400"
        >Profile</a
      >
      <!-- Login Link -->
      <a
        routerLink="/login"
        routerLinkActive="active"
        aria-current="page"
        class="px-3 py-2 rounded hover:bg-cyan-400"
        >Login</a
      >
      <!-- Register Link -->
      <a
        routerLink="/register"
        routerLinkActive="active"
        aria-current="page"
        class="px-3 py-2 rounded hover:bg-cyan-400"
        >Register</a
      >
    </div>
  </div>
</nav>

<ul class="flex flex-row justify-around">
  <!-- Recipe Search Link -->
  <li>
    <a
      routerLink="/search"
      routerLinkActive="active"
      aria-current="page"
      class="hover:bg-gray-200 font-semibold"
      >Recipe Search</a
    >
  </li>
  @if ((loggedIn$ | async)?.loginState) {
  <li>Logged in as {{ (loggedIn$ | async)?.user?.name }}</li>
  } @else {
  <li>Not logged in</li>
  }
</ul>

<main
  class="flex-grow justify-center text-center container mx-auto px-4 py-8 bg-gray-100"
>
  <router-outlet />
</main>

<footer class="bg-cyan-700 text-white p-4">
  <div class="container mx-auto text-center">
    © 2024 Denize Y RecipeApp U06. Chas Academy.
  </div>
</footer>
