<br /><br />
<p class="flex justify-center">This is where the magic happens!</p>
<br /><br />

@if (recipe) {
<div class="shadow overflow-hidden rounded-lg">
  <h2 class="underline">{{ recipe.recipe.label }}</h2>
  <img src="{{ recipe.recipe.images.SMALL.url }}" alt="Recipe image" />
  <p class="font-semibold">Total time: {{ recipe.recipe.totalTime }}</p>
  <p class="font-semibold">This is what you need:</p>
  @for (ingredientLine of recipe.recipe.ingredientLines; track ingredientLine) {

  <li>{{ ingredientLine }}</li>
  }
</div>
} @else {
<p>Loading recipe...</p>
}
